/** Table styles **/

table.adminlist {
	width: 100%;
	border-spacing: 1px;
	background-color: #e7e7e7;
	color: #666;
}

table.adminlist td,
table.adminlist th { padding: 4px; }

table.adminlist thead th {
	text-align: center;
	background: #f0f0f0;
	color: #666;
	border-bottom: 1px solid #999;
	border-left: 1px solid #fff;
}

table.adminlist thead a:hover { text-decoration: none; }

table.adminlist thead th img { vertical-align: middle; }

table.adminlist tbody th { font-weight: bold; }

table.adminlist tbody tr            { background-color: #fff;  text-align: left; }
table.adminlist tbody tr.row1     { background: #f9f9f9; border-top: 1px solid #fff; }

table.adminlist tbody tr.row0:hover td,
table.adminlist tbody tr.row1:hover td  { background-color: #ffd ; }

table.adminlist tbody tr td        { height: 25px; background: #fff; border: 1px solid #fff; }
table.adminlist tbody tr.row1 td { background: #f9f9f9; border-top: 1px solid #FFF; }

table.adminlist tfoot tr { text-align: center;  color: #333; }
table.adminlist tfoot td,
table.adminlist tfoot th { background-color: #f3f3f3; border-top: 1px solid #999; text-align: center; }

table.adminlist td.order         { text-align: center; white-space: nowrap; }
table.adminlist td.order span { float: left; display: block; width: 20px; text-align: center; }

table.adminlist .pagination { display:table; padding:0;  margin:0 auto;     }

/* preloader */


.centerbg1 {
	display: none;
	width:100%;
	height:100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1000;
	background: #cccccc;
	opacity: 0.3;
}

/* for IE */
.centerbg1 {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
}

.centerbg2 {
	position: absolute;
	left: 50%;
	top: 50%;
}

#preloader {
	top: -50%;
	left: -50%;
	position: relative;
	width: 64px;
	height: 64px;
	background: url('../images/130.gif');
}
